body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(233, 125, 117);
    transition: background-color 0.5s ease-in-out;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img2{
    position: relative;
    transform: rotate(40deg);
    left: 700px;
    z-index: 1;
}

iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 30%;
    z-index: 0;
}

h1 {
    color: #ff4081;
}

p {
    color: #666;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.p {
    text-align: center;
}

#heart {
    color: red;
    font-size: 48px;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
}

#heart:hover {
    transform: scale(1.2);
    color: blue;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    animation-name: slideIn;
    animation-duration: 0.5s;
}

.text {
    text-align: center;
    width: 900px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}



